package components

templ SignInButton() {
	<div id="sign-in-button">
		<button
			class="border border-black bg-black hover:text-black hover:bg-white text-white font-bold px-3 py-1"
			hx-get="/login"
			hx-swap="afterend"
		>
			Sign In
		</button>
	</div>
}
