package components

templ Footer() {
	<footer id="footer" class="border-t border-t-black">
		<div class="row-auto py-1 font-baskerville">
			<div class="flex justify-center items-center px-4">
				<div class="font-bold hover:underline">
					<a href="https://github.com/jbrilha/goethe" target="_blank" rel="noopener noreferrer">
						Source (GitHub)
					</a>
				</div>
			</div>
		</div>
	</footer>
}
