package home

import (
	"goethe/views/components"
	"goethe/views/layouts"
)

templ Index() {
	@layouts.Base() {
		<h1 class="p-5 text-2xl">Home page placeholder w/ form</h1>
			@components.BookForm()
	}
}
