@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AppleChancery";
  src: url("fonts/AppleChancery.ttf") format("truetype");
}

@font-face {
  font-family: "AcademyEngraved";
  src: url("fonts/AcademyEngraved.ttf") format("truetype");
}

@font-face {
  font-family: "Baskerville";
  src: url("fonts/Baskerville.ttc") format("truetype");
}

@font-face {
  font-family: "TimesNewRoman";
  src: url("fonts/TimesNewRoman.ttf") format("truetype");
}

.line-clamp-8 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.line-clamp-9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.fade {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.fade-hidden {
  opacity: 0;
}
